.container {
  width: 100%;
  padding: 2rem 9rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  border-bottom: 1px solid #f0f0f0;
}

.upWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWrap {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.title {
  margin: 0 0.5rem 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.2px;
  color: #808080;
}

.titleArrow {
  cursor: pointer;
}

.userInfoWrap {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.userInfoBtn {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  cursor: pointer;
}

.dot {
  width: 2px;
  height: 2px;
  background: #e0e0e0;
}

.downWrap {
  display: flex;
  align-items: center;
}

.navMenu {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #aaaaaa;
  padding: 0 1.25rem 1.25rem;
  cursor: pointer;
}

.navMenu:first-child {
  color: #444444;
  border-bottom: 2px solid #444444;
}
